// Breakpoints
$layout-breakpoint-xlarge: 1289px;
$layout-breakpoint-large: 989px;
$layout-breakpoint-medium: 739px;
$layout-breakpoint-small: 479px;
$layout-breakpoint-xsmall: 369px;
$layout-breakpoint-xxsmall: 281px;

// Colors
$background: #1e1e1e;
$black: #000;
$white: #fff;
$off-white: #f8f2e4;
$light-green: #eff4cd;
$hero-beige: #ffefc7;
$dark-grey: #292929;
$dark-brown: #464838;
$dark-brown-negative: #aaac97;
$aqua: #00c9a7;
$aqua-negative: #952e29;
$yellow: #edda33;
$bright-yellow: #d5ff40;

//gradients
$hero-gradient: linear-gradient(
  45deg,
  #464838,
  #464838,
  #464838,
  #464838,
  #5f623c,
  #5f623c,
  #5f623c,
  #5f623c,
  #7b7e3e,
  #7b7e3e,
  #7b7e3e,
  #7b7e3e,
  #99993e,
  #99993e,
  #99993e,
  #99993e
);

$initial-gradient: linear-gradient(
  45deg,
  rgba(248, 242, 228, 0) rgba(248, 242, 228, 0)
);
