.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: $dark-grey;
  align-items: stretch;
  color: $dark-grey;
  overflow-y: hidden;
}

.topline {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2.5em 9em;
  z-index: 4;
}

.topline-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  li {
    font-size: 2em;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-family: "Poppins";
  }
}

.topline-items > li:nth-child(1) {
  text-align: left;
  opacity: 0.8;
}

.topline-items > li:nth-child(2) {
  opacity: 0.8;
  font-size: 2.5em;
}

.topline-items > li:nth-child(3) {
  text-align: right;
}

#logo {
  width: 5rem;
  top: 4rem;
  right: 5rem;
  z-index: 5;
}
