.landing {
  display: flex;
  width: 100%;
  align-items: stretch;
  gap: 50px;
  background-color: $off-white;
  position: relative;
  z-index: 2;
  transition: transform 500ms cubic-bezier(0.79, 0.09, 0.62, 0.79);
  transition-delay: 50ms;
  overflow: hidden;
}

#landing-open {
  transform: translateY(-55%);
  transition: transform 500ms cubic-bezier(0.79, 0.09, 0.62, 0.79);
}

.hero-splash,
.carousel {
  display: flex;
  justify-content: center;
  width: min(50%, 50%);
}

.hero-splash {
  background-image: $hero-gradient;
  background-color: $off-white;
  background-size: 1500%;
  color: $off-white;
  flex-direction: column;
  padding: 35rem 10rem 10rem 10rem;
  justify-content: space-around;
  animation: hero-animation 40s infinite alternate;
  transition: background-color background-image;

  h1 {
    font-size: var(--fs-med);
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 0.85;
    overflow: hidden;
    animation: color-animation 7s forwards ease-in-out;
    strong {
      font-weight: 800;
    }
  }
  p {
    font-size: var(--fs-xs);
    text-align: right;
    color: $light-green;
    animation: blurb-animation 700ms ease backwards;
    animation-delay: 2.8s;
  }
}

@keyframes hero-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes title-animation {
  0% {
    transform: translateY(150%);
  }
  33% {
    transform: translateY(62%);
  }
  66% {
    transform: translateY(36%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes blurb-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes color-animation {
  0% {
    color: $dark-brown;
  }

  100% {
    color: $off-white;
  }
}

#hero-title-container {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  animation: title-animation 1.7s ease-out;
}

#hero-title--line-1 {
  align-self: flex-start;
}

#hero-title--line-2 {
  transform: translateX(1em);
}

#hero-title--line-3 {
  transform: translateX(0.5em);
}

#hero-blurb-container {
  margin-top: 35rem;
  padding: 5rem;
}

#build::before {
  content: "BUILD";
  position: fixed;
  display: inline-block;
  transform: translateX(-1rem);
  opacity: 0.4;
}

#secure::before {
  content: "SECURE";
  position: fixed;
  display: inline-block;
  transform: translateX(-1.5rem);
  opacity: 0.4;
}
.wordmark-container {
  overflow: hidden;
  display: flex;
  // border: solid red 1px;
  justify-content: center;
}

#wordmark {
  width: 50%;
  animation: wordmark 550ms ease-in-out forwards;
  transform: translateY(-15%);

  animation-delay: 1.1s;
  // border: solid red 1px;
}

@keyframes wordmark {
  0% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(-100%);
  }
}
